.container {
    max-width: var(--desktop-width);
    margin: 0 auto;
    font-size: 1.6rem;
}
body {
    background-color: var(--light-theme-background);
}

[data-theme = dark]{
color: var(--dark-theme-text);
background-color: var(--dark-theme-background);
}

/* let the system detect dark mode */
@media (prefers-color-schema:dark) {
    body {
        background-color: var(--dark-theme-background);
    }
}
@media (max-width: 1190px) {
    .main {
        padding:0 20px 30px;
    }
}