@import-normalize;
:root {

    --desktop-width:1240px;
    --mobile-width:375px;
    --dark-blue:hsl(209, 23%, 22%);
    --dark-theme-background: hsl(207, 26%, 17%);
    --dark-theme-background-light: #2B3743;
    --dark-theme-text:hsl(0, 0%, 100%);
    --light-theme-text:hsl(200, 15%, 8%);
    --light-theme-input:hsl(0, 0%, 52%);
    --light-theme-background:#FAFAFA;
    --light-theme-element:hsl(0, 0%, 100%);
    --light-theme-shadow:#EFEFEF

}
body,
html,
#root {
    margin: 0;
    font-family: "Nunito Sans";
    font-size: 10px;
}

*,
*::before,
*::after {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
}

textarea {
    overflow: auto;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
}

img,
video,
iframe {
    border: 0;
    vertical-align: middle;
    max-inline-size: 100%;
    block-size: auto;
}